TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

VOICE_RECORDING_DOWNLOAD_PATH=""

WHISPER_MODEL_DOWNLOAD_PATH=""
WHISPER_MODEL_SIZE=""

LLM_URL=""
LLM_MODEL=""

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=host
POSTGRES_PORT=12345
POSTGRES_DATABASE=""

MTRACK_CATEGORIES=["", ""]
MTRACK_PRIMARY_SECONDARY_CATEGORIES=[["", ""],["", ""]]
MTRACK_CARD_ACCOUNTS=["", ""]